<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="../public/img/fav-icon.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Drimo - App Landing Page Template</title>

    <!-- Icon css link -->
    <link href="../public/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../public/css/icofont.css" rel="stylesheet" />

    <!-- Bootstdap -->
    <link href="../public/css/bootstdap.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      /* #grid {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2vw;
            }
            #grid > div {
                font-size: 5vw;
                padding: .5em;
                background: gold;
                text-align: center;
            } */
      body {
        display: grid;
        grid-template-areas:
          "header header"
          "article ads"
          "footer footer";
        grid-template-rows: 60px 1fr 60px;
        grid-template-columns: 1fr 10%;
        grid-gap: 10px;
        height: 100vh;
        margin: 0;
        overflow: auto;
      }

      @media all and (max-width: 575px) {
        body {
          display: grid;
          grid-template-areas:
            "header"
            "article"
            "ads"
            "footer";
          grid-template-rows: 80px 2fr 70px 70px;
          grid-template-columns: 1fr;
        }
      }

      header,
      footer,
      adsblock {
        background: gray;
        padding: 1.2em;
      }
      article {
        background: white;
        padding: 1.2em;
      }
      #pageHeader {
        grid-area: header;
      }
      #pageFooter {
        grid-area: footer;
      }
      #mainArticle {
        grid-area: article;
      }
      #mainNav {
        grid-area: nav;
      }
      #siteAds {
        grid-area: ads;
      }

      article {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto, 1fr);
      }
      #sendClientData {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        background: lightblue;
      }
    </style>
  </head>
  <body>
    <header id="pageHeader">Header</header>
    <article id="mainArticle">
      <a href='/' style="color:indigo">Back to Home Page</a>
      <table border="1">
        <caption>
          <b>Your orders, <%= orders[0].nameRepairer %></b>
        </caption>
        <thead>
          <th>ID</th>
          <th>Client</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Device view</th>
          <th>Status</th>
        </thead>
        <tbody>
          <% orders.forEach((order) => { %>
          <tr>
            <td><%= order.idOrder %></td>
            <td><%= order.clientName %></td>
            <td><%= order.email %></td>
            <td><%= order.clientNumber %></td>
            <td><%= order.nameView %></td>
            <td style="color: <%= order.colorStatus %>">
              <%= order.nameStatus %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </article>
    <adsblock id="siteAds">Ads</adsblock>
    <footer id="pageFooter">Footer</footer>
    <!-- jQuery (necessary for Bootstdap's JavaScript plugins) -->
    <!-- <script src="http://code.jquery.com/jquery-1.8.3.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/js/bootstdap.min.js"></script>
  </body>
</html>
